/* src/css/DialPad.css */
.dial-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 100px;
}

.dial-button {
  width: 90px; /* Set a fixed width */
  height: 90px; /* Set the height to be the same as the width */
  font-size: 28px;
  background-color: #5290ec;
  color: #fff;
  border: 1px solid #848689;
  border-radius: 50%; /* Make the button circular */
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex; /* Center the text inside the button */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
}

.dial-button:active {
  background-color: #d9d9d9;
}
.dial-button:hover {
  background-color: #d9d9d9;
}
